.usuarios-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Georama', sans-serif;
  }
  
  .dados-usuario {    
    width: 80%;
    margin-top: 30px;
    background-color: rgba(217, 217, 217, 0.2);
    height: 80vh;
    border-radius: 1%;
    padding: 20px;
    margin-left: 20px;
  }


  .tabela-usuario {
    padding: 5px;
  }

  
