.buttonSalve{
    margin: 1em auto;
    display: block;
    width: 30%;
    text-align: center;
    padding: 1em 2em;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #F7934C;
    font-size: 18px;
    color: white;
}