.salas-container {
  /* Estilos para o contêiner principal */
  /* Por exemplo: */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Georama', sans-serif;
}

.dados-salas {    
  width: 80%;
  margin-top: 30px;
  background-color: rgba(217, 217, 217, 0.2);
  height: 80%;
  border-radius: 1%;
  padding: 20px;
  margin-left: 20px;
}

.geral-salas {
  display: flex;
  justify-content: space-between;
}

.input-salas {
  width: 80%;
}

.tabela-salas {
  padding: 5px;
  width: 80%  ;
}

@media(max-width: 992px){
  .tabela-salas {
    padding: 5px;
    width: 70%;
  }
  
}


  

