.carousel{
  height: 100%;
  width: 100%;
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .carousel-images img{
    display: block;
    max-width: 90%;
    max-height: 90%;
    padding-left: 2px;
    padding-top: 2%;


  }
  
  
  @media (max-width: 1280px) {
    .carousel-images img{
      display: block;
      max-width: 90%;
      max-height: 90%;
      padding-left: 2px;
      padding-top: 5%;
  
    }
  }
    
  @media (max-width: 480px) {
    .carousel-images img{
      display: block;
      max-width: 80%;
      max-height: 90%;
      padding-left: 2px;
      padding-top: 30px;
  
  
    }
    }
  